---
import Banner from "@/components/Banner.astro"
import Layout from "@/layouts/Layout.astro"
import AlbumsItem from "@/components/AlbumsItem.astro"

import { getAlbumList } from "@/utils/utils"

const albumNames = await getAlbumList()
---

<Layout title=`Alejandro Arroyo - Photo - Todos mis álbumes`>
  <main class="flex flex-col justify-center">
    <Banner
      class="h-[30vh]"
      title="Todos mis álbumes"
      coverImage="./banner_tmp.png"
    />
    <section id="albums" class="w-full xl:w-[1440px] mx-auto py-20 flex flex-col justify-center items-center space-y-10">
      <article class="w-full xl:w-[1440px] flex flex-col justify-center items-center">
        <h2 class="text-3xl m-2">Mis álbumes</h2>
        <div class="bg-[#892C14] w-1/12 h-1"></div>
      </article>
      <article class="w-full xl:w-[1440px] flex flex-wrap justify-center items-center gap-10">
        {
          albumNames.map(
            ({title, subtitle, description, coverImage, directory}) => (
              <AlbumsItem
                title={title}
                subtitle={subtitle}
                description={description}
                coverImage={coverImage}
                directory={directory}
              />
            )
          )
        }
      </article>
    </section>
  </main>
</Layout>
