---
import RecentWorkBentoItem from "./RecentWorkBentoItem.astro"

import { recentWorks } from "@/lib/data"
---

<section id="recentWork" class="w-full xl:w-[1440px] mx-auto py-20 flex flex-col justify-center items-center space-y-10">
  <header class="w-full xl:w-[1440px] flex flex-col justify-center items-center">
    <h2 class="text-3xl m-2">Mis últimos trabajos</h2>
    <div class="bg-[#892C14] w-1/6 h-1"></div>
  </header>
  <div class="grid grid-cols-1 md:grid-cols-9 auto-rows-[30rem] gap-4 mx-10">
    {
      recentWorks.map(
        ({id, title, subtitle, description, image, directory}, index) => (
          <RecentWorkBentoItem
            class={`col-span-1 ${(index == 0 || index == 3) ? 'md:col-span-5' : 'md:col-span-4' }`}
            title={title}
            subtitle={subtitle}
            image={image}
            directory={directory}
          >
            <p slot="content" class="max-w-xl text-white text-ellipsis line-clamp-3" set:html={description}></p>
          </RecentWorkBentoItem>
        )
      )
    }
  </div>
  <button
    id="allWorks"
    type="button"
    class="bg-[#892C14] border-2 border-transparent px-4 py-2 text-white rounded-lg cursor-pointer scale-90
    transition-all duration-200 ease-in-out hover:scale-110 hover:opacity-100 hover:bg-transparent hover:border-[#892C14]
    hover:text-[#892C14]"
    onclick=""
  >Ver todos los trabajos</button>
</section>

<script>
  const btn = document.querySelector("#allWorks");
  if (btn) {
    btn.addEventListener("click", () => {
      window.location.href = "/todos-mis-trabajos"
    });
  }
</script>